<nav>
    <div class="site-title">
      <a href="/"><h1>Student Management System</h1></a>
      <p>This Site is Used To Add the Third year Computer Engineering Student Studied in JSPM'S BSIOTR,Wagholi,Pune-412 207 </p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/user/create">Add-Stud</a></li>
      
      <li><a href="/teacher">My Students</a></li>

      

    </ul>
  </nav>