<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <div class="div123">
    <p class="about-paragraph">
      I ROHAN UMESH RANDHAVE hereby declare that the mini project MONGODB(HANDLING A CRUD OPERATION), submitted for partial fulfillment of the requirements in DBMSL for degree of Bachelor of Engineering of the Savitribai Phule Pune
      University is a work done by me under supervision of Prof.Nitin Shivale
      This submission represents my ideas in my own words and where ideas or words
      of others have been included, I have adequately and accurately cited and referenced
      the original sources.
      I also declare that I have adhered to ethics of academic honesty and integrity
      and have not misrepresented or fabricated any data or idea or fact or source in my
      submission. I understand that any violation of the above will be a cause for disciplinary
      action by the institute and/or the University and can also evoke penal action from the
      sources which have thus not been properly cited or from whom proper permission has
      not been obtained. This report has not been previously formed the basis for the award
      of any degree, diploma or similar title of any other University.
    </p>
    <img src="https://th.bing.com/th/id/OIP.tofxwl419QR1FAAXwMBCzQHaHa?w=140&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="myimg">
    
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>